<h1>Rosters</h1>

<table>
  <tr>
    <th>Roster</th>
    <th>Player</th>
    <th>Team</th>
    <th>Position</th>
    <th></th>
  </tr>

<% @roster_entries.each do |roster_entry| %>
  <tr>
    <td><%= roster_entry.roster.name %></td>
    <td><%= roster_entry.player.name %></td>
    <td><%= roster_entry.team.nombre %></td>
    <td><%= roster_entry.position %></td>
    <td><%= link_to 'Borrar', roster_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_roster_entry_path %>
